@font-face {
    font-family: Lato;
    src: url(Lato/Lato-Light.ttf);
}

:root {
    --base-color: lightgrey
}

header {
    background-color: var(--base-color, white);
}

body {
    background-color: burlywood;
}

footer{
    background-color: color-mix(in srgb, #ffca7c 50%, white);
}

h1 {
    font-family: Lato;
    color: #000080;
}

h2 {
    color: rgb(4, 149, 50);
}

h3 {
    color: color(xyz 45 20 0);
}

p {
    color: hsl(44, 95%, 42%);
}