/* Defines the web-imported font */
@font-face {
    font-family: Lato;
    src: url(Lato/Lato-Light.ttf);  /* Directs to our file containing the font info */
}

/* Contains base variables */
:root {
    --base-color: lightgrey
}

header {
    background-color: burlywood;
}

body {
    font-family: Lato;
    background-color: var(--base-color, white); /* If --base-color is invalid for some reason, will default to white  */
}

footer{
    background-color: color-mix(in srgb, #ffca7c 50%, white);
}

h1 {
    color: #000080;
}

h2 {
    color: rgb(4, 149, 50);
}

h3 {
    color: color(xyz 45 20 0);
}

p {
    color: hsl(44, 95%, 42%);
}

.box {
    /* Margin */
    border-style: solid;
    border-color: darkblue;
    border-width: 2mm;
    border-radius: 7px;

    padding: 1cm 37.8px;
    padding-left: 1cm;
    padding-bottom: 37.8px;

    margin: 10vh 10vw;
    margin-left: 10vw;
    margin-bottom: 10vh;
}

#agenda {
    border: 2px solid black;
    padding: .5em;
    margin: auto;
}