/* Defines the web-imported font */
@font-face {
    font-family: Lato;
    src: url(Lato/Lato-Light.ttf);  /* Directs to our file containing the font info */
}

/* Contains base variables */
:root {
    --base-color: lightgrey;
}

header {
    background-color: burlywood;
}

body {
    font-family: Lato;
    background-color: var(--base-color, white); /* If --base-color is invalid for some reason, will default to white  */
}

footer{
    background-color: color-mix(in srgb, #ffca7c 50%, white);
}

h1 {
    color: #000080;
    text-align: center;
}

h2 {
    color: rgb(4, 149, 50);
    text-align: center;
}

h3 {
    color: color(xyz 45 20 0);
    text-decoration: underline;
}

p {
    color: hsl(44, 95%, 42%);
}

.box {
    /* Border */
    border-style: solid;
    border-color: darkblue;
    border-width: 2mm;
    border-radius: 7px;

    /* Padding */
    padding: 1cm 37.8px;
    padding-left: 1cm;
    padding-bottom: 37.8px;

    /* Margin */
    margin: 10vh 10vw;
    margin-left: 10vw;
    margin-bottom: 10vh;
}

.general {
    /* Border */
    border-style: none;
    border-radius: 4px;

    /* Padding */
    padding: 20px;

    /* Margin */
    margin: auto
}

#diagram {
    position: sticky;
    display: block;
}

#glossary {
    position: static;
    display: flex;
}

video {
    max-width: 1000px;
    max-height: 500px;
}

summary:hover {
    color: blue
}

button:hover {
    color: grey;
}

button:active {
    color: black;
}